<section class="card">
  <h3>From singleComment</h3>

  <a href="/user/signup">Sign up instead</a>
</div>

  <div class="card-body">
    <p>this comment title: {{thisCommentTitle}}</p>
    <p>this comment content: {{thisCommentContent}}</p>
    <p>this comment update: {{thisCommentUpdate}}</p>
    <p>this comment creator id: {{thisCommentUserId}}</p>
    <p>this comment creator name: {{thisCommentUsername}}</p>
</section>