<section>Post title and etc. </section>
{{postData.id}}
<div>This Post Title: {{postData.title}}</div>
<div>This Post Content: {{postData.content}}</div>
<div>This Post Updated Tine: {{postData.updated_at}}</div>
<br />
<div>Am I logged in: {{logged_in}}</div>
<br />
<div>My current user Id: {{userId}}</div>
<div>My current username: {{userName}}</div>