<section class="card">
  <div class="card-body">
    <h5>this comment title: {{thisCommentTitle}}</h5>
    {{!-- {{{>general-deletable}}} --}}
    <p>this comment content: {{thisCommentContent}}</p>
    <p>this comment update: {{thisCommentUpdate}}</p>
    <p>this comment creator id: {{thisCommentUserId}}</p>
    <p>this comment creator name: {{thisCommentUsername}}</p>
  </div>
</section>