<section class="card">
  <div class="card-body">
    <h5>this comment title: {{title}}</h5>
    <p>this comment content: {{content}}</p>
    <p>this comment creator id: {{user_id}}</p>
    <p>this comment created at: {{created_at}}</p>
    <p>this comment updated at: {{updated_at}}</p>
  </div>
</section>