<section class="box">
  <header class="box-header">
    {{title}}
  </header>

  <div class="box-content">

    <div class="box-post-content">
      Post content:
      {{content}}
    </div>

    <div class="box-minorContent">
      <div class="time">last update: {{updated_at}}</div>
      <a href="/dashboard/{{id}}"><button
          class="button is-rounded"
          id="editPost"
        >Edit post</button></a>
      <button
        class="button is-rounded"
        id="deletePost"
        value="{{id}}"
      >Delete</button>
    </div>
  </div>
</section>

{{!-- <section class="card">
  <h3>From singlePost</h3>

  <div class="card-body">
    <p>this post id: {{id}}</p>
    <p>this post title: {{title}}</p>
    <p>this post content: {{content}}</p>
    <p>this post create: {{created_at}}</p>
    <p>this post update: {{updated_at}}</p>
    <a href="/dashboard/{{id}}"><button id="editPost">Edit</button></a>
    <button id="deletePost" value="{{id}}">Delete</button>
  </div>
</section> --}}