<section class="card">
  <h3>From SINGLE COMMENT</h3>
    <header>{{title}}</header>

    <div class="card-body">
      <p>Username: {{user.username}}</p>
      <p>Content: {{content}}</p>
      <p>last_update: {{last_update}}</p>
      <p>created_at: {{created_at}}</p>
      <p>Updated_at: {{updated_at}}</p>
    </div>
  </a>
</section>