<section class="card">
  <h3>From singlePost</h3>
  <a href="/post/:id">
    <header>{{title}}</header>

    <div class="card-body">
      <p>By: {{user.username}}</p>
      <p>By: {{content}}</p>
      <p>{{last_update}}</p>
      <p>{{created_at}}</p>
      <p>{{updated_at}}</p>
    </div>
  </a>
</section>